{% extends 'base.html.twig' %}

{% block title %}Create Income{% endblock title %}

{% block body %}
    <h1>Create Income</h1>

    {{ form_errors(createIncomeForm) }}

    {{ form_start(createIncomeForm) }}
        {{ form_row(createIncomeForm.name) }}
        {{ form_row(createIncomeForm.amount) }}
        {{ form_row(createIncomeForm.date) }}
        {{ form_row(createIncomeForm.type) }}

    <button type="submit" class="btn">Save</button>
    {{ form_end(createIncomeForm) }}
{% endblock body %}
