{{ form_errors(expenseForm) }}

    {{ form_start(expenseForm) }}
        {{ form_row(expenseForm.amount) }}
        {{ form_row(expenseForm.date) }}

<ul class="expense-lines">
    {{ form_widget(expenseForm.expenseLines) }}
    <li class="expense-line" data-prototype="{{ form_row(expenseForm.expenseLines.vars.prototype)|e }}">
        <a href="#" class="add-line">Add an expense</a>
    </li>
</ul>

{{ form_rest(expenseForm) }}

<button type="submit" class="btn">Save</button>
{{ form_end(expenseForm) }}
<p><a href="{{ path('app_expenses_list') }}"><button>Retour</button></a></p>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var expenseLinesList = document.querySelector('.expense-lines');
        var addLineButton = document.querySelector('.add-line');

        addLineButton.addEventListener('click', function(e) {
            e.preventDefault();
            var commentItem = document.querySelector('.expense-line');
            var commentCount = expenseLinesList.querySelectorAll('li').length - 1;
            var newCommentForm = commentItem.getAttribute('data-prototype').replace(/__name__/g, commentCount);
            var newCommentItem = document.createElement('li');
            newCommentItem.innerHTML = newCommentForm;
            expenseLinesList.insertBefore(newCommentItem, commentItem);
        });
    });
</script>